
@font-face {
  font-family: 'calculator';
  src: url('../../assets/fonts/Calculator.ttf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.Container-calculator {
  width: 30vw;
  height: 30vw;
  box-shadow: 0 0 100px black;
  border-radius: 30px 30px 30px 30px;
  margin-top: 30px;
}

.screen {
  height: 5vw;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: Calculator, Courier, monospace;
  font-size: 30px;
  background-color: rgb(221, 220, 220);
  padding: 0 40px 0 10px;
  border-radius: 30px 30px 0 0;
}

.Container-buttons {
  height: 25vw;
  display: grid;
  grid-template-areas:
    "ac masmin percentage division"
    "seven eight nine multiplication"
    "four five six less"
    "one two three add"
    "zero zero dot equal";
  background-color: #000;
  border-radius: 0 0 30px 30px;
}

.Container-buttons button {
  border: none;
  font-size: 20px;
  transition: 0.1s;
  cursor: pointer;
}

.Container-buttons button:hover {
  transform: scale(1.1);
  background-color: rgb(231, 226, 226);
}

.Container-buttons button:active {
  transform: scale(1.1);
  background-color: rgba(151, 150, 150, 0.61);
  color: aliceblue;
}

.btn0 {
  grid-area: zero;
  border-radius: 0 0 0 30px;
}
.btn1 { grid-area: one; }
.btn2 { grid-area: two; }
.btn3 { grid-area: three; }
.btn4 { grid-area: four; }
.btn5 { grid-area: five; }
.btn6 { grid-area: six; }
.btn7 { grid-area: seven; }
.btn8 { grid-area: eight; }
.btn9 { grid-area: nine; }
.btn-add { grid-area: add; }
.btn-less { grid-area: less; }
.btn-division { grid-area: division; }
.btn-multiplication { grid-area: multiplication; }
.btn-percentage { grid-area: percentage; }
.btn-moremin { grid-area: masmin; }
.btn.dot { grid-area: dot; }

.btn-equal {
  grid-area: equal;
  border-radius: 0 0 30px 0;
}
.btn-Ac { grid-area: ac; }
.orange { background-color: orange; }
.orange:hover { background-color: rgb(253, 192, 78) !important; }
